body{
	background-image: url(images/tile9.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	font-family: 'Merienda', cursive;
}
header{
	padding: 35px 0;
	color: white;
	display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap !important;
    align-content: flex-start;
    background-color: #eaeaea;
    font-family: 'Merienda', cursive;
    width: 100%;
    font-size: 3em;

}

#githubPagesLink:link{
     text-decoration: none;
}
span{
	background:linear-gradient(to right,#543b57,#425362,#bea177);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    font-weight: bold;
}
.celebrity-img-div{
	height: 200px;
	width: 200px;
	min-width: 200px;
	margin: 1em;
	border-radius: 5px;
	background-size: cover;
	background-position: center;
	-webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.75);
	cursor: pointer;
	display: inline-block;	
	font-family: 'Merienda', cursive;
}

.celebrity-img-text{
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: white;
	display: none;
	align-items: center;
	justify-content: center;
	font-family: 'Merienda', cursive;


}

.celebrity-img-div:hover > p{
	display: flex;
	font-family: 'Merienda', cursive;
} 
.celebrity-img-div{
	
} 

#celebritries-List{
	margin-top: 0;
	overflow-x: scroll;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	background-color: #f4f4f4;	
	border-top: 3px dotted #e5e5e5;
	border-bottom: 3px dotted #e5e5e5;
	box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #e5e5e5;
	margin-bottom: 1px;
	font-family: 'Merienda', cursive;
}


#celebrity-details{
	width: 500px;
	margin: 1em;
	font-family: 'Merienda', cursive;
}


.card-title, .card-subtitle{
	text-align: center;
	font-family: 'Merienda', cursive;
}

#celebrity-img{
	height: 100px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #a6a7a91c;
	font-family: 'Merienda', cursive;
}

#celebrity-quote{
	
	text-align: center;
	font-size: 2em;
	margin: 1em;
	font-family: 'Merienda', cursive;
}

#celebrity-link{
	text-align: center;
	font-family: 'Merienda', cursive;
}